body{
    background-color: #1E202B;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background: #1E202B;
    padding: 40px;
}
.navbar .container{
    width: 80%;
}
.navbar .navbar-brand .cloud{
    color: #009AD8;
    font-size: 40px;
}
.navbar .navbar-brand h1{
    font-size: 16px;
   font-weight: 700;
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0;
}
.navbar .navbar-brand span{
    font-size: 10px;
    color: #BFB49A;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.navbar-collapse .navbar-nav .nav-item{
    padding: 0px 10px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;    
    padding: 2px 25px 3px 25px;
   
}
.navbar-collapse .navbar-nav .nav-item .active{
    color: #009AD8; 
    padding: 2px 25px 3px 25px;
    border:2px  solid  #009AD8;   
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    border:2px solid  #009AD8; 
    color: #009AD8;
}
.backimage{
    background:linear-gradient(rgba(30,32,43,.5),rgba(30,32,43,.5)), url(../image/weatherbanner.png);
    background-repeat: no-repeat;
    height: 350px;
}
.content , .container2{
    width: 75%;
    margin: auto;
}
.content input{
    margin-top: 65px;
    padding: 15px;
    background-color: #1E202B;
    color: #009AD8;
    
}
.content .btn1{
    background-color: #009AD8;
    padding: 8px 30px;
    color: white;
    position: absolute;
    top: 12%;
    right: 1%;
}
.row{
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.col1 .title , .col3 .title{
    height: 40px;
    background-color: #2D303D;
    color: #BFC1C8;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 93%;
    margin: auto;
    margin-top: 10px;
}
.col1{
    background-color: #323544;
    color: white;
    border-top-left-radius: 5%;
    
    
}
.col1 .info .country{
    color:#BFC1C8;
    line-height:27px;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.col1 .info span{
    color: #FFFFFF;
    font-size:90px;
    line-height:135px;
    font-weight:700;
}
.col1 .info .status{
    color: #009AD8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height:21px;
    font-size: 14px;
}
.col1 .info .icons{
    color: #898A8F;
}

.col2{
    background-color: #262936;
}
.col2 .title{
    background-color: #222530;
    color: #BFC1C8;
    height: 40px;
    width: 93%;
    margin: auto;
    margin-top: 10px;
    
}
.col2 .deg , .col3 .deg{
    color: white;
    font-size:24px;
    font-weight:700
}
.col2 .deg2 , .col3 .deg2 {
    color: #BFC1C8;
    font-weight: 300;
    font-size: 16px;
}
.col2 .status , .col3 .status{
    color: #009AD8;
    font-weight: 300;
    font-size: 14px;
}

.col3{
    background-color:#323544;
    border-top-right-radius: 5%;

}

.footer{
    background-color: #262936;
}
.container2{
    padding: 50px 0px;
}
.container2 input{
    /* width: 67%; */
    background-color: #1E202B;
    padding: 13px;

}
.container2 .btn{
    background-color: #009AD8;
    padding: 8px 20px;
    color: white;
    position: absolute;
    /* top: 38%;
    right: 33.5%; */
    top:10.7% ;
    right: 1%;
}
.footer ul{
    list-style: none;
    /* margin-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul li{
    background-color:#1E202B;
    margin: 4px;
    padding: 10px;
    border-radius: 50%;
    color: #009AD8;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.footer ul li:hover{
    background-color: #009AD8;
    color: white;
}
@media screen and (max-width:992px){
    .footerIcons{
        margin-top:20px;
    }
    .navbar{
        padding: 10px 0px;
    }
    .navbar .container{
        width: 100%;
    }
    
    .content , .container2{
        width: 90%;
        margin: auto;
    }
}
